
﻿
@{
    Layout = "_Layout";
}

<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card text-center">
                <div class="card-body padding-top-2x">
                    <h3 class="card-title">Chúc mừng bạn đã đăng ký thành công !</h3>
                    <div class="padding-top-1x padding-bottom-1x">
                        <a class="btn btn-outline-secondary" href="https://localhost:5001/account/LoginRegister">Đăng nhập để mua hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
